body{
    background-color: #3D2922;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
div{
    background-image: url("/cash-macanaya-jd4rMSCTXlM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    
    width: 50vw;
    height: 80vh;
}